@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1200px;
}

.practical_bg_color {
  background: #79BBB5;
}

.research_bg_color {
  background: #A0CADB;
}

.art_bg_color {
  background: #CCC5E3;
}

.social_bg_color {
  background: #F4C3C5;
}

.thing_bg_color {
  background: #E7995F;
}

.enterprise_bg_color {
  background: #F7EA92;
}

.second_color1 {
  background: #FFE56D;
}

.second_color2 {
  background: #F6F3ED;
}

.second_color3 {
  background: #BCEAFF;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "微軟正黑體";
}

img {
  vertical-align: center;
}

h1 {
  font-size: 30px;
  font-weight: 600;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

p {
  font-size: 18px;
}

.p_small {
  font-size: 15px;
}

input[type="submit"] {
  outline: none;
  font-family: '微軟正黑體';
  cursor: pointer;
}

button {
  background: none;
  border: none;
  outline: none;
  font-family: '微軟正黑體';
  cursor: pointer;
}

a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

.btn_primary {
  padding: 0;
  font-size: 18px;
  border-radius: 50px;
  height: 40px;
  width: 150px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  border: none;
  color: #ffffff;
  background: #1b4d9f;
  -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.btn_primary:hover {
  background: #336AC6;
}

.btn_second {
  padding: 0;
  font-size: 18px;
  border-radius: 50px;
  height: 40px;
  width: 150px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  border: none;
  color: #1b4d9f;
  background: #e8c300;
}

.btn_second:hover {
  background: #FCDA27;
}

.btn_third {
  padding: 0;
  font-size: 18px;
  border-radius: 50px;
  height: 40px;
  width: 150px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  border: none;
  color: #1b4d9f;
  background: #fff;
  border: 2px solid #1b4d9f;
}

.btn_third:hover {
  color: #fff;
  background: #336AC6;
}

div.header_wrap {
  width: 100%;
  background: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 200;
}

div.header_wrap header.header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px 15px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  /* hamburger */
  /*
   * Spring
   */
}

div.header_wrap header.header div.hamburger {
  padding: 0;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0;
  overflow: visible;
  display: none;
}

div.header_wrap header.header div.hamburger:hover {
  opacity: 0.7;
}

div.header_wrap header.header .hamburger.is-active:hover {
  opacity: 0.7;
}

div.header_wrap header.header .hamburger.is-active .hamburger-inner,
div.header_wrap header.header .hamburger.is-active .hamburger-inner::before,
div.header_wrap header.header .hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

div.header_wrap header.header .hamburger-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative;
}

div.header_wrap header.header .hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

div.header_wrap header.header .hamburger-inner,
div.header_wrap header.header .hamburger-inner::before,
div.header_wrap header.header .hamburger-inner::after {
  width: 30px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

div.header_wrap header.header .hamburger-inner::before,
div.header_wrap header.header .hamburger-inner::after {
  content: "";
  display: block;
}

div.header_wrap header.header .hamburger-inner::before {
  top: -10px;
}

div.header_wrap header.header .hamburger-inner::after {
  bottom: -10px;
}

div.header_wrap header.header .hamburger--spring .hamburger-inner {
  top: 2px;
  -webkit-transition: background-color 0s 0.13s linear;
  transition: background-color 0s 0.13s linear;
}

div.header_wrap header.header .hamburger--spring .hamburger-inner::before {
  top: 10px;
  -webkit-transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

div.header_wrap header.header .hamburger--spring .hamburger-inner::after {
  top: 20px;
  -webkit-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

div.header_wrap header.header .hamburger--spring.is-active .hamburger-inner {
  -webkit-transition-delay: 0.22s;
          transition-delay: 0.22s;
  background-color: transparent !important;
}

div.header_wrap header.header .hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  -webkit-transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
          transform: translate3d(0, 10px, 0) rotate(45deg);
}

div.header_wrap header.header .hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  -webkit-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translate3d(0, 10px, 0) rotate(-45deg);
          transform: translate3d(0, 10px, 0) rotate(-45deg);
}

div.header_wrap header.header div.logo {
  width: 70px;
  height: 70px;
  margin-right: auto;
}

div.header_wrap header.header div.logo a {
  width: 100%;
  display: inline-block;
}

div.header_wrap header.header div.logo a img {
  width: 101%;
  vertical-align: middle;
}

div.header_wrap header.header div.header_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.header_wrap header.header div.header_nav ul li {
  margin: 0 5px;
}

div.header_wrap header.header div.header_nav ul li a {
  display: inline-block;
  padding: 5px 15px;
  font-size: 18px;
  color: #1b4d9f;
  font-weight: bold;
}

div.header_wrap header.header div.header_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 100px;
}

div.header_wrap header.header div.header_icon div.cart {
  position: relative;
}

div.header_wrap header.header div.header_icon div.cart i {
  font-size: 20px;
  color: #1b4d9f;
  padding-right: 20px;
}

div.header_wrap header.header div.header_icon div.cart div.cart_num {
  position: absolute;
  bottom: -4px;
  left: -2px;
  width: 15px;
  height: 15px;
  background: red;
  border-radius: 50px;
  text-align: center;
  line-height: 12px;
}

div.header_wrap header.header div.header_icon div.cart div.cart_num span {
  color: #fff;
  font-size: 13px;
  font-weight: bold;
}

div.header_wrap header.header div.header_icon div.member i {
  font-size: 20px;
  color: #1b4d9f;
}

@media (max-width: 780px) {
  header.header {
    background: pink;
    position: relative;
  }
  header.header div.hamburger {
    display: inline-block !important;
  }
  header.header div.logo {
    margin: 0 auto;
  }
  header.header div.header_nav {
    background: #8686cc;
    display: none;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  header.header div.header_nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header.header div.header_nav ul li {
    padding: 10px 0;
    text-align: center;
    margin: 0 !important;
  }
  @-webkit-keyframes color {
    0% {
      background: linear-gradient(-45deg, #e4c8c8 40%, #c0c0f7 90%);
    }
    50% {
      background: linear-gradient(-45deg, #e4c8c8 30%, #c0c0f7 50%);
    }
    100% {
      background: linear-gradient(-45deg, #e4c8c8 60%, #c0c0f7 10%);
    }
  }
  @keyframes color {
    0% {
      background: linear-gradient(-45deg, #e4c8c8 40%, #c0c0f7 90%);
    }
    50% {
      background: linear-gradient(-45deg, #e4c8c8 30%, #c0c0f7 50%);
    }
    100% {
      background: linear-gradient(-45deg, #e4c8c8 60%, #c0c0f7 10%);
    }
  }
  header.header div.header_nav ul li:hover {
    background: linear-gradient(124deg, #e4c8c8 90%, #c0c0f7 90%);
    -webkit-animation: color 1s ease infinite;
            animation: color 1s ease infinite;
  }
  header.header div.header_icon {
    margin-left: 0 !important;
  }
}

.side_cart {
  border: 1px solid pink;
  width: 400px;
  height: 100vh;
  background: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 200;
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
  padding: 10 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.side_cart div.cart_close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 10px;
}

.side_cart div.cart_close button {
  width: 60px;
  height: 30px;
  line-height: 0;
}

.side_cart div.cart_course {
  margin: 10px;
  overflow-y: scroll;
}

.side_cart div.cart_course ul li {
  -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
}

.side_cart div.cart_course ul li div.cus_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.side_cart div.cart_course ul li div.cus_card a {
  border-bottom: 0;
}

.side_cart div.cart_course ul li div.cus_card div.remove button {
  background: #e8c300;
  width: 100%;
  height: 100%;
  font-size: 18px;
}

.side_cart div.cart_course ul li div.cus_card div.remove button:hover {
  background: #FCDA27;
}

.side_cart div.check_out_contain div.discount_title {
  background: #ededed;
}

.side_cart div.check_out_contain div.discount_title p {
  padding: 5px;
}

.side_cart div.check_out_contain div.price_check {
  background: #fff;
}

.side_cart div.check_out_contain div.price_check ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.side_cart div.check_out_contain div.price_check ul li span {
  padding: 10px 5px;
}

.side_cart div.check_out_contain div.price_total_btn {
  border-top: 1px soild #ededed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #ededed;
}

.side_cart div.check_out_contain div.price_total_btn div.price_total {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  text-align: center;
}

.side_cart div.check_out_contain div.price_total_btn a.check_out {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: #1b4d9f;
  font-size: 18px;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.side_cart div.check_out_contain div.price_total_btn a.check_out:hover {
  background: #336AC6;
}

.cart_off {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

div.footer_wave {
  position: relative;
  text-align: center;
  background: linear-gradient(60deg, #543ab7 0%, #00acc1 100%);
  color: white;
}

div.footer_wave svg.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
}

div.footer_wave svg.waves .parallax > use {
  -webkit-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
          animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

div.footer_wave svg.waves .parallax > use:nth-child(1) {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}

div.footer_wave svg.waves .parallax > use:nth-child(2) {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

div.footer_wave svg.waves .parallax > use:nth-child(3) {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-animation-duration: 13s;
          animation-duration: 13s;
}

div.footer_wave svg.waves .parallax > use:nth-child(4) {
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}

.footer {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer p {
  text-shadow: 1px 1px 2px;
}

@-webkit-keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
            transform: translate3d(85px, 0, 0);
  }
}

@keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
            transform: translate3d(85px, 0, 0);
  }
}

@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.main_side_bar {
  width: 200px;
  height: 100vh;
  background: #F6F3ED;
  border-radius: 20px;
  padding: 60px 20px 0;
  position: fixed;
}

div.main_side_bar ul {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.main_side_bar ul li {
  margin: 10px 0;
}

div.main_side_bar ul li a {
  border: 2px solid black;
  border-radius: 50px;
  padding: 5px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

div.main_side_bar ul li a span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: blue;
  border-radius: 50px;
  margin-right: 10px;
}

div.main_side_bar ul li:first-child a {
  border: 2px solid #79BBB5;
}

div.main_side_bar ul li:first-child a span {
  background: #79BBB5;
}

div.main_side_bar ul li:first-child a:hover {
  background: #79BBB5;
}

div.main_side_bar ul li:first-child a:hover span {
  background: #fff;
}

div.main_side_bar ul li:nth-child(2) a {
  border: 2px solid #A0CADB;
}

div.main_side_bar ul li:nth-child(2) a span {
  background: #A0CADB;
}

div.main_side_bar ul li:nth-child(2) a:hover {
  background: #A0CADB;
}

div.main_side_bar ul li:nth-child(2) a:hover span {
  background: #fff;
}

div.main_side_bar ul li:nth-child(3) a {
  border: 2px solid #CCC5E3;
}

div.main_side_bar ul li:nth-child(3) a span {
  background: #CCC5E3;
}

div.main_side_bar ul li:nth-child(3) a:hover {
  background: #CCC5E3;
}

div.main_side_bar ul li:nth-child(3) a:hover span {
  background: #fff;
}

div.main_side_bar ul li:nth-child(4) a {
  border: 2px solid #F4C3C5;
}

div.main_side_bar ul li:nth-child(4) a span {
  background: #F4C3C5;
}

div.main_side_bar ul li:nth-child(4) a:hover {
  background: #F4C3C5;
}

div.main_side_bar ul li:nth-child(4) a:hover span {
  background: #fff;
}

div.main_side_bar ul li:nth-child(5) a {
  border: 2px solid #E7995F;
}

div.main_side_bar ul li:nth-child(5) a span {
  background: #E7995F;
}

div.main_side_bar ul li:nth-child(5) a:hover {
  background: #E7995F;
}

div.main_side_bar ul li:nth-child(5) a:hover span {
  background: #fff;
}

div.main_side_bar ul li:nth-child(6) a {
  border: 2px solid #F7EA92;
}

div.main_side_bar ul li:nth-child(6) a span {
  background: #F7EA92;
}

div.main_side_bar ul li:nth-child(6) a:hover {
  background: #F7EA92;
}

div.main_side_bar ul li:nth-child(6) a:hover span {
  background: #fff;
}
/*# sourceMappingURL=app_public.css.map */