/*

  INSTRUCTIONS ---------------------------------------------------------------------------------
  
  1. Add this stylesheet to the <head> of your pages
     <link href="YOUR PATH/calendar.css" rel="stylesheet" type="text/css" />
     
  2. Use the file name as data-dd-theme attribute on your datedropper elements
     <input data-dd-theme="calendar" />
     
*/


div.datedropper.calendar {

  --dd-color1: #1B4D9F;
  --dd-color2: #FFF;
  --dd-color3: #4D4D4D;
  --dd-color4: #FFF;

  --dd-radius: 16px;
  --dd-width: 200px;
  --dd-shadow: 0 0 21px 2px rgba(0, 0, 0, 0.14);
  font-family: 微軟正黑體;


}

div.datedropper .picker ul.pick li span {
  bottom: 10px !important;
}