body#course_main_bg {
  background-image: url(../../../img/course/bg/main.png);
  background-size: 100%;
}

div.course_main_banner div.banner {
  height: 200px;
  background: blue;
}

div.course_session_title h2 {
  width: 300px;
  border-bottom: 2px solid #e8c300;
  padding-bottom: 10px;
  margin: 50px 0 20px;
}

div.course_main_second div#go_test {
  background: rgba(85, 85, 94, 0.884);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 200;
  border-radius: 10px 10px 0 0;
  padding: 20px 0;
  text-align: center;
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
}

div.course_main_second div#go_test span {
  color: #fff;
  letter-spacing: 2px;
}

div.course_main_second div#go_test button i {
  font-size: 18px;
}

div.course_main_second ._off {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

div.course_main_second div.background {
  width: 100%;
  overflow: hidden;
}

div.course_main_second div.background ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
}

div.course_main_second div.background ul li {
  position: absolute;
  left: 0;
  top: 0;
}

div.course_main_second div.background ul li img {
  width: 100%;
}

div.course_main_second div.background ul li:first-child {
  position: inherit;
}

div.course_main_second div.course_nav {
  margin-bottom: 50px;
}

div.course_main_second div.course_nav div.course_nav_container {
  width: 100%;
}

div.course_main_second div.course_nav div.course_nav_container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

div.course_main_second div.course_nav div.course_nav_container ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.course_main_second div.course_nav div.course_nav_container ul li:hover span.type_dot {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  border-radius: 50px;
}

div.course_main_second div.course_nav div.course_nav_container ul li span.type_dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
}

div.course_main_second div.course_nav div.course_nav_container ul li a {
  padding: 15px 20px;
}

div.course_main_second div.main_course {
  border: 1px solid green;
  margin-bottom: 20px;
}

div.course_main_second div.main_course div.main_course_pic {
  border: 1px solid blue;
}

div.course_main_second div.main_course div.main_course_pic img {
  width: 100%;
}

div.course_main_second div.main_course div.main_course_content {
  border: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.course_main_second div.intro_banner {
  margin-bottom: 20px;
}

div.course_main_second div.intro_banner div.intro_banner_container div.intro_banner_title {
  height: 200px;
  background: pink;
}

div.course_main_second div.courses_session div.course_session_contain ul li {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

div.course_main_second div.courses_session div.course_session_contain ul li div.card_pic {
  width: 30%;
}

div.course_main_second div.courses_session div.course_session_contain ul li div.card_pic img {
  width: 100%;
  vertical-align: middle;
}

div.course_main_second div.courses_session div.course_session_contain ul li div.card_content {
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.course_main_second div.courses_session div.course_session_contain ul li div.card_content p {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

div.course_main_second div.courses_session div.course_session_contain ul li div.card_content div.card_content_scrb div.card_content_join i {
  margin-right: 5px;
}

div.course_main_second div.courses_session div.course_session_contain ul li div.card_content div.card_content_scrb div.card_content_join span {
  font-size: 13px;
}

div.course_main_second div.courses_session div.course_session_contain ul li div.card_content div.card_content_scrb div.card_content_msg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

div.course_main_second div.courses_session div.course_session_contain ul li div.card_content div.card_content_scrb div.card_content_msg div.type_time span.card_type {
  padding: 0 5px;
  border-radius: 5px;
}

div.course_main_second div.courses_session div.course_session_contain ul li div.card_content div.card_content_scrb div.card_content_msg div.price_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.course_main_second div.courses_session div.course_session_contain ul li div.card_content div.card_content_scrb div.card_content_msg div.price_btn span.card_price {
  font-size: 20px;
}

@media (max-width: 1199px) {
  div.side_bar_container {
    position: fixed;
    z-index: 200;
    left: 0;
  }
  div.side_bar_container div.main_side_bar {
    position: inherit;
    width: inherit;
    border-radius: 0;
    height: inherit;
    padding: 0;
    width: 100%;
  }
  div.side_bar_container div.main_side_bar ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 0px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  div.side_bar_container div.main_side_bar ul li {
    margin: 10px;
  }
  div.side_bar_container div.main_side_bar ul li a {
    padding: 10px 30px;
  }
  div.side_bar_container div.main_side_bar div.side_bar_img {
    display: none;
  }
  div.course_main_container {
    margin-top: 50px;
  }
}

@media (max-width: 1060px) {
  div.side_bar_container div.main_side_bar {
    overflow-x: scroll;
  }
}

div.course_order_list {
  margin-top: 50px;
  border: none;
}

div.course_order_list div.cus_list {
  border: none;
}

div.course_order_list div.cus_list div.cus_total_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 50px;
}

div.course_order_list div.cus_list div.cus_total_price span {
  display: inline-block;
  padding: 0 5px;
}

div.course_order_list div.cus_list div.cus_total_price span.total {
  font-size: 15px;
  margin-right: 10px;
}

div.course_order_list div.cus_list div.cus_total_price span.final_price {
  font-size: 26px;
  font-weight: bold;
  color: red;
}

div.course_order_list div.cus_list div.cus_total_price span.origin_price {
  font-size: 15px;
  text-decoration: line-through;
}

div.course_order_list div.cus_list div.cus_total_price span.discount {
  font-size: 15px;
}

div.course_order_list div.check_out_contain {
  color: #fff;
  width: 80%;
  margin: 0 auto;
  background: rgba(123, 159, 180, 0.76);
  border-radius: 10px;
  padding: 0px 20px 30px;
}

div.course_order_list div.check_out_contain div.check_out_title h3 {
  padding: 30px 0 40px;
}

div.course_order_list div.check_out_contain div.credit_card {
  position: relative;
  -webkit-perspective: 1000;
          perspective: 1000;
}

div.course_order_list div.check_out_contain div.credit_card div.flip {
  width: 300px;
  height: 200px;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
  margin: 0 auto;
}

div.course_order_list div.check_out_contain div.credit_card div.flip:hover {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  transform-origin: center;
}

div.course_order_list div.check_out_contain div.credit_card div.flip div.card_front {
  width: 300px;
  height: 200px;
  background: linear-gradient(135deg, #3c5e92, #1b2c4b);
  border-radius: 15px;
  position: absolute;
  color: #ccc;
  top: 0;
  left: 0;
  text-shadow: 0 1px 1px black;
  -webkit-box-shadow: 0 5px 15px #486886;
          box-shadow: 0 5px 15px #486886;
  padding: 5px 15px;
  z-index: 2;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

div.course_order_list div.check_out_contain div.credit_card div.flip div.card_front div.account_num {
  text-align: center;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

div.course_order_list div.check_out_contain div.credit_card div.flip div.card_front div.account_num span {
  padding: 0 10px;
  font-size: 20px;
}

div.course_order_list div.check_out_contain div.credit_card div.flip div.card_front div.owner_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

div.course_order_list div.check_out_contain div.credit_card div.flip div.card_front div.owner_name div.credit_logo {
  width: 80px;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

div.course_order_list div.check_out_contain div.credit_card div.flip div.card_front div.owner_name div.credit_logo img {
  width: 100%;
}

div.course_order_list div.check_out_contain div.credit_card div.flip div.card_back {
  width: 300px;
  height: 200px;
  background: linear-gradient(135deg, #3c5e92, #1b2c4b);
  border-radius: 15px;
  position: absolute;
  color: #ccc;
  top: 0;
  left: 0;
  text-shadow: 0 1px 1px black;
  -webkit-box-shadow: 0 5px 15px #486886;
          box-shadow: 0 5px 15px #486886;
  padding: 5px 15px;
  z-index: 5;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

div.course_order_list div.check_out_contain div.credit_card div.flip div.card_back div.black_stripe {
  height: 40px;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.575), rgba(0, 0, 0, 0.788));
  width: 100%;
  margin: 30px 0 10px 0;
}

div.course_order_list div.check_out_contain div.credit_card div.flip div.card_back div.white_stripe {
  background: #fff;
  border-radius: 5px;
  margin: 0 15px;
  height: 30px;
}

div.course_order_list div.check_out_contain div.credit_card div.flip div.card_back div.white_stripe span {
  display: inline-block;
  width: 100%;
  text-align: right;
  padding: 5px 10px 0;
}

div.course_order_list div.check_out_contain div.credit_card div.flip div.card_back div.credit_logo {
  width: 80px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 10px;
  margin-right: 15px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

div.course_order_list div.check_out_contain div.credit_card div.flip div.card_back div.credit_logo img {
  width: 100%;
}

div.course_order_list div.check_out_contain div.form {
  margin-top: 50px;
}

div.course_order_list div.check_out_contain div.form form div.form_name {
  border: 1px solid #fff;
  padding: 10px;
  margin: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.course_order_list div.check_out_contain div.form form div.form_name label {
  padding-bottom: 10px;
}

div.course_order_list div.check_out_contain div.form form div.form_name input {
  background: #c4d9e4;
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

div.course_order_list div.check_out_contain div.form form div.form_account {
  border: 1px solid #fff;
  padding: 10px;
  margin: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.course_order_list div.check_out_contain div.form form div.form_account label {
  padding-bottom: 10px;
}

div.course_order_list div.check_out_contain div.form form div.form_account div.account_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.course_order_list div.check_out_contain div.form form div.form_account div.account_input input {
  background: #c4d9e4;
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 5px;
  width: 20%;
  margin: 0 10px;
}

div.course_order_list div.check_out_contain div.form form div.form_account div.account_input input:first-child {
  margin-left: 0;
}

div.course_order_list div.check_out_contain div.form form div.form_account div.account_input input:last-child {
  margin-right: 0;
}

div.course_order_list div.check_out_contain div.form form div.form_exp {
  border: 1px solid #fff;
  padding: 10px;
  margin: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: row;
}

div.course_order_list div.check_out_contain div.form form div.form_exp div.c_exp_date div.c_select {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.course_order_list div.check_out_contain div.form form div.form_exp div.c_exp_date div.c_select select {
  background: #c4d9e4;
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 5px;
  margin-right: 30px;
}

div.course_order_list div.check_out_contain div.form form div.form_exp div.c_ccv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
}

div.course_order_list div.check_out_contain div.form form div.form_exp div.c_ccv input {
  margin-top: 10px;
  background: #c4d9e4;
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 5px;
  width: 50px;
}

div.course_order_list div.check_out_contain div.check_out_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 991px) {
  div.course_order_list div.check_out_contain {
    margin-top: 50px;
  }
}

@media (max-width: 375px) {
  div.course_order_list div.check_out_contain {
    width: 100%;
  }
}

body#course_intro_bg {
  background-image: url(../../../img/course/bg/intro.png);
  background-size: 100%;
}

div.course_introduce {
  max-width: 900px;
  margin-bottom: 70px;
  margin-top: 80px;
}

div.course_introduce div.course_intro_banner {
  margin-bottom: 50px;
}

div.course_introduce div.course_intro_banner div.intro_banner {
  -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
}

div.course_introduce div.course_intro_banner div.intro_banner div.intro_banner_pic {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-right: 20px;
}

div.course_introduce div.course_intro_banner div.intro_banner div.intro_banner_pic div.banner_img {
  margin-top: -50px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
  border-radius: 5px;
  overflow: hidden;
}

div.course_introduce div.course_intro_banner div.intro_banner div.intro_banner_pic div.banner_img img {
  width: 100%;
  vertical-align: middle;
}

div.course_introduce div.course_intro_banner div.intro_banner div.intro_banner_pic div.banner_img:hover {
  margin-top: -60px;
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

div.course_introduce div.course_intro_banner div.intro_banner div.intro_banner_pic div.banner_type_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

div.course_introduce div.course_intro_banner div.intro_banner div.intro_banner_pic div.banner_type_btn div.banner_type span {
  font-size: 50px;
  color: #F7EA92;
  font-weight: bolder;
  text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

div.course_introduce div.course_intro_banner div.intro_banner div.intro_banner_pic div.banner_type_btn div.banner_btn button {
  background: #F6F3ED;
  border-radius: 50px;
  padding: 5px 10px;
}

div.course_introduce div.course_intro_banner div.intro_banner div.intro_banner_pic div.banner_type_btn div.banner_btn button i {
  font-size: 20px;
  margin-right: 5px;
  color: #bbbbbb;
}

div.course_introduce div.course_intro_banner div.intro_banner div.intro_banner_content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

div.course_introduce div.course_intro_banner div.intro_banner div.intro_banner_content div.banner_title {
  border-bottom: 2px solid gray;
  margin-bottom: 30px;
}

div.course_introduce div.course_intro_banner div.intro_banner div.intro_banner_content div.banner_title h1 {
  line-height: 1.5;
  margin-bottom: 20px;
}

div.course_introduce div.course_intro_banner div.intro_banner div.intro_banner_content div.banner_title div.banner_teacher_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.course_introduce div.course_intro_banner div.intro_banner div.intro_banner_content div.banner_title div.banner_teacher_price div.banner_teacher_container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F7EA92;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

div.course_introduce div.course_intro_banner div.intro_banner div.intro_banner_content div.banner_title div.banner_teacher_price div.banner_teacher_container a div.banner_teacher_img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  overflow: hidden;
  margin-right: 10px;
}

div.course_introduce div.course_intro_banner div.intro_banner div.intro_banner_content div.banner_title div.banner_teacher_price div.banner_teacher_container a div.banner_teacher_img img {
  width: 100%;
}

div.course_introduce div.course_intro_banner div.intro_banner div.intro_banner_content div.banner_title div.banner_teacher_price div.banner_teacher_container a span {
  font-weight: bold;
}

div.course_introduce div.course_intro_banner div.intro_banner div.intro_banner_content div.banner_title div.banner_teacher_price div.banner_price p {
  font-size: 30px;
}

div.course_introduce div.course_intro_banner div.intro_banner div.intro_banner_content div.banner_title div.banner_teacher_price div.banner_price p span {
  font-size: 18px;
}

div.course_introduce div.course_intro_banner div.intro_banner div.intro_banner_content div.banner_describe p {
  line-height: 1.5;
}

div.course_introduce div.cus_teacher {
  max-width: 900px;
  margin-bottom: 70px;
}

div.course_introduce div.cus_teacher div.teacher_img div.teacher_profile {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 auto;
}

div.course_introduce div.cus_teacher div.teacher_img div.teacher_profile img {
  width: 100%;
  vertical-align: middle;
}

div.course_introduce div.cus_teacher div.teacher_intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.course_introduce div.cus_teacher div.teacher_intro h2 {
  width: 300px;
  border-bottom: 2px solid #e8c300;
  padding-bottom: 10px;
  margin: 50px 0 20px;
}

div.course_introduce div.cus_teacher div.teacher_intro p {
  line-height: 1.5;
}

div.course_introduce div.cus_learn {
  margin-bottom: 70px;
}

div.course_introduce div.cus_learn div.learn_list h2 {
  width: 300px;
  border-bottom: 2px solid #e8c300;
  padding-bottom: 10px;
  margin: 50px 0 20px;
}

div.course_introduce div.cus_learn div.learn_list ul li {
  padding: 5px;
}

div.course_introduce div.cus_learn div.suitable_list h2 {
  width: 300px;
  border-bottom: 2px solid #e8c300;
  padding-bottom: 10px;
  margin: 50px 0 20px;
}

div.course_introduce div.cus_learn div.suitable_list ul li {
  padding: 5px;
  line-height: 1.5;
}

div.course_introduce div.cus_outline {
  margin-bottom: 70px;
}

div.course_introduce div.cus_outline div.cus_outline_contain {
  width: 100%;
}

div.course_introduce div.cus_outline div.cus_outline_contain h2 {
  width: 300px;
  border-bottom: 2px solid #e8c300;
  padding-bottom: 10px;
  margin: 50px 0 20px;
}

div.course_introduce div.cus_outline div.cus_outline_contain ol {
  background: #F6F3ED;
  border-radius: 10px;
}

div.course_introduce div.cus_outline div.cus_outline_contain ol li {
  border-bottom: 1px solid #665f5f;
  font-size: 18px;
  padding: 20px;
}

div.course_introduce div.cus_outline div.cus_outline_contain ol li:last-child {
  border-bottom: none;
}

div.course_introduce div.feedback div.pro_feedback h2 {
  width: 300px;
  border-bottom: 2px solid #e8c300;
  padding-bottom: 10px;
  margin: 50px 0 20px;
}

div.course_introduce div.feedback div.pro_feedback ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}

div.course_introduce div.feedback div.pro_feedback ul li {
  background: #F6F3ED;
  border-radius: 10px;
}

div.course_introduce div.feedback div.pro_feedback ul li div.pro_contain {
  padding: 10px;
}

div.course_introduce div.feedback div.pro_feedback ul li div.pro_contain p {
  line-height: 1.5;
  border-bottom: 2px solid #ededed;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

div.course_introduce div.feedback div.pro_feedback ul li div.pro_contain div.pro_person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.course_introduce div.feedback div.pro_feedback ul li div.pro_contain div.pro_person div.pro_profile {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  overflow: hidden;
  margin-right: 5px;
}

div.course_introduce div.feedback div.pro_feedback ul li div.pro_contain div.pro_person div.pro_profile img {
  width: 100%;
  vertical-align: middle;
}

div.course_introduce div.feedback div.stu_feedback h2 {
  width: 300px;
  border-bottom: 2px solid #e8c300;
  padding-bottom: 10px;
  margin: 50px 0 20px;
}

div.course_introduce div.feedback div.stu_feedback div.stu_contain {
  padding: 10px;
}

div.course_introduce div.feedback div.stu_feedback div.stu_contain ul li {
  margin: 10px 0;
}

div.course_introduce div.feedback div.stu_feedback div.stu_contain ul li span {
  display: inline-block;
  margin-bottom: 20px;
}

div.course_introduce div.feedback div.stu_feedback div.stu_contain ul li p {
  background: #F6F3ED;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

div.course_introduce div.feedback div.stu_feedback div.stu_contain ul li p::before {
  content: '';
  display: inline-block;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #F6F3ED;
  position: absolute;
  left: 10px;
  top: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

div.course_introduce div.hot_course {
  margin-bottom: 20px;
}

div.course_introduce div.hot_course ul.auto_slider {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.course_introduce div.hot_course ul.auto_slider li.auto_slider_card {
  background: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 15px;
  -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

div.course_introduce div.hot_course ul.auto_slider li.auto_slider_card div.auto_slider_card_pic img {
  width: 100%;
}

div.course_introduce div.hot_course ul.auto_slider li.auto_slider_card div.auto_slider_card_content {
  padding: 10px;
}

div.course_introduce div.hot_course ul.auto_slider li.auto_slider_card div.auto_slider_card_content p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

div.course_introduce div.hot_course ul.auto_slider li.auto_slider_card div.auto_slider_card_content div.card_content_scrb div.card_content_join {
  margin-bottom: 20px;
}

div.course_introduce div.hot_course ul.auto_slider li.auto_slider_card div.auto_slider_card_content div.card_content_scrb div.card_content_join i {
  margin-right: 5px;
}

div.course_introduce div.hot_course ul.auto_slider li.auto_slider_card div.auto_slider_card_content div.card_content_scrb div.card_content_join span {
  font-size: 13px;
}

div.course_introduce div.hot_course ul.auto_slider li.auto_slider_card div.auto_slider_card_content div.card_content_scrb div.card_content_msg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.course_introduce div.hot_course ul.auto_slider li.auto_slider_card div.auto_slider_card_content div.card_content_scrb div.card_content_msg span.card_price {
  font-size: 20px;
  font-weight: bold;
}

div.course_introduce div.hot_course ul.auto_slider li.auto_slider_card div.add_cart_btn button {
  width: 100%;
  border-radius: 0;
}

@media (max-width: 992px) {
  div.suitable_list {
    margin-bottom: 30px;
  }
  div.course_introduce div.feedback div.pro_feedback ul {
    margin-top: 0px;
  }
}

@media (max-width: 920px) {
  div.course_intro_banner div.intro_banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 376px) {
  div.course_introduce div.course_intro_banner div.intro_banner div.intro_banner_pic div.banner_type_btn {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px;
  }
  div.course_introduce div.course_intro_banner div.intro_banner div.intro_banner_pic div.banner_type_btn div.banner_type span {
    font-size: 20px;
  }
}

div.cus_card a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid gray;
  padding: 10px 0;
}

div.cus_card a div.card_img {
  width: 200px;
}

div.cus_card a div.card_img img {
  width: 100%;
}

div.cus_card a div.card_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

div.cus_card a div.card_content p {
  font-weight: bold;
}

div.cus_card a div.card_content div.card_content_scrb div.card_content_join span {
  font-size: 13px;
  padding: 0 5px;
}

div.cus_card a div.card_content div.card_content_scrb div.card_content_msg {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.cus_card a div.card_content div.card_content_scrb div.card_content_msg span.card_type {
  background: orange;
  border-radius: 5px;
  padding: 0 5px;
  line-height: 20px;
}

div.cus_card a div.card_content div.card_content_scrb div.card_content_msg span.card_time {
  margin-left: 10px;
  padding: 0 5px;
  line-height: 20px;
}

div.cus_card a div.card_content div.card_content_scrb div.card_content_msg span.card_price {
  margin-left: auto;
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 499px) {
  div.cus_list ul li {
    margin-bottom: 20px;
  }
  div.cus_list ul li div.cus_card a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  div.cus_list ul li div.cus_card a div.card_img {
    width: 100%;
  }
}

div.hot_course {
  margin-bottom: 20px;
}

div.hot_course ul.auto_slider {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

div.hot_course ul.auto_slider .owl-stage-outer {
  padding: 10px 0;
}

div.hot_course ul.auto_slider .owl-nav {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: -22px;
  right: 12px;
}

div.hot_course ul.auto_slider .owl-nav button:hover {
  background-position: center left 2px;
}

div.hot_course ul.auto_slider .owl-nav button span {
  background: #51ad68;
  display: inline-block;
  width: 20px;
  height: 20px;
  color: #fff;
  border-radius: 50px;
  margin: 5px;
}

div.hot_course ul.auto_slider li.auto_slider_card {
  background: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 15px;
  -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

div.hot_course ul.auto_slider li.auto_slider_card div.auto_slider_card_pic {
  position: relative;
}

div.hot_course ul.auto_slider li.auto_slider_card div.auto_slider_card_pic img {
  width: 100%;
}

div.hot_course ul.auto_slider li.auto_slider_card div.auto_slider_card_pic span.course_type {
  display: inline-block;
  padding: 5px;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

div.hot_course ul.auto_slider li.auto_slider_card div.auto_slider_card_content {
  position: relative;
  padding: 30px 20px 20px;
}

div.hot_course ul.auto_slider li.auto_slider_card div.auto_slider_card_content p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

div.hot_course ul.auto_slider li.auto_slider_card div.auto_slider_card_content div.card_content_scrb div.card_content_join {
  margin-bottom: 20px;
}

div.hot_course ul.auto_slider li.auto_slider_card div.auto_slider_card_content div.card_content_scrb div.card_content_join i {
  margin-right: 5px;
}

div.hot_course ul.auto_slider li.auto_slider_card div.auto_slider_card_content div.card_content_scrb div.card_content_join span {
  font-size: 13px;
}

div.hot_course ul.auto_slider li.auto_slider_card div.auto_slider_card_content div.card_content_scrb div.card_content_msg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.hot_course ul.auto_slider li.auto_slider_card div.auto_slider_card_content div.card_content_scrb div.card_content_msg span.card_price {
  font-size: 20px;
  font-weight: bold;
}

div.hot_course ul.auto_slider li.auto_slider_card div.auto_slider_card_content div.add_cart_btn {
  position: absolute;
  top: 0;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

div.hot_course ul.auto_slider li.auto_slider_card div.auto_slider_card_content div.add_cart_btn button {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: #fff;
  -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

div.hot_course ul.auto_slider li.auto_slider_card div.auto_slider_card_content div.add_cart_btn button i {
  color: #51ad68;
  font-size: 18px;
  line-height: 50px;
}
/*# sourceMappingURL=course.css.map */