<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap/bootstrap-grid.min.css">
    <link rel=" stylesheet" href="css/app_public.css">
    <link rel="stylesheet" href="css/course.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css
">



</head>

<body>
    <!-- header -->
    <div class="header_wrap">
        <header class="header">
            <div class="logo">
                <a href="#">
                    <img src="img/logo.svg" alt="">
                </a>
            </div>
            <div class="header_nav">
                <ul>
                    <li><a href="#">職涯分析</a></li>
                    <li><a href="#">行業攻略</a></li>
                    <li><a href="#">職涯論壇</a></li>
                    <li><a href="#">探索課程</a></li>
                    <li><a href="#">明信片</a></li>
                </ul>
            </div>
            <div class="header_icon">
                <div class="cart">
                    <a href="#"><i class="fas fa-shopping-cart"></i>
                        <div class="cart_num"><span>1</span></div>
                    </a>
                    <!-- <div class="cart_num"><span>1</span></div> -->
                </div>

                <div class="member"><a href="#"><i class="fas fa-user"></i></a></div>
            </div>
        </header>

    </div>



    <div id="course_main" class="container">


        <!-- cart -->
        <div class="side_cart cart_off">
            <div class="cart_close">
                <button id="cart_close" class="btn_third">close </button>
            </div>
            <div class="cart_course">
                <ul>
                    <li class="cart_item">
                        <div class="cus_card">
                            <a href="#">
                                <div class="card_img">
                                    <img src="img/course/課程圖片.jpg" alt="">
                                </div>
                                <div class="card_content">
                                    <p>九個步驟快速提昇你的簡報力、溝通力</p>
                                    <div class="card_content_scrb">
                                        <!-- <div class="card_content_join">
                                        <i class="fas fa-user-friends"></i><span>6124人已參與此課程</span>
                                    </div> -->
                                        <div class="card_content_msg">
                                            <span class="card_type">企業型</span>
                                            <!-- <span class="card_time">總計3小時</span> -->
                                            <span class="card_price">NT$660</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="remove">
                                <button>
                                    <p>刪</p>
                                    <p>除</p>
                                </button>
                            </div>

                        </div>

                    </li>
                    <li class="cart_item">
                        <div class="cus_card">
                            <a href="#">
                                <div class="card_img">
                                    <img src="img/course/課程圖片.jpg" alt="">
                                </div>
                                <div class="card_content">
                                    <p>九個步驟快速提昇你的簡報力、溝通力</p>
                                    <div class="card_content_scrb">
                                        <!-- <div class="card_content_join">
                                        <i class="fas fa-user-friends"></i><span>6124人已參與此課程</span>
                                    </div> -->
                                        <div class="card_content_msg">
                                            <span class="card_type">企業型</span>
                                            <!-- <span class="card_time">總計3小時</span> -->
                                            <span class="card_price">NT$660</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="remove">
                                <button>
                                    <p>刪</p>
                                    <p>除</p>
                                </button>
                            </div>

                        </div>

                    </li>
                    <li class="cart_item">
                        <div class="cus_card">
                            <a href="#">
                                <div class="card_img">
                                    <img src="img/course/課程圖片.jpg" alt="">
                                </div>
                                <div class="card_content">
                                    <p>九個步驟快速提昇你的簡報力、溝通力</p>
                                    <div class="card_content_scrb">
                                        <!-- <div class="card_content_join">
                                        <i class="fas fa-user-friends"></i><span>6124人已參與此課程</span>
                                    </div> -->
                                        <div class="card_content_msg">
                                            <span class="card_type">企業型</span>
                                            <!-- <span class="card_time">總計3小時</span> -->
                                            <span class="card_price">NT$660</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="remove">
                                <button>
                                    <p>刪</p>
                                    <p>除</p>
                                </button>
                            </div>

                        </div>

                    </li>
                    <li class="cart_item">
                        <div class="cus_card">
                            <a href="#">
                                <div class="card_img">
                                    <img src="img/course/課程圖片.jpg" alt="">
                                </div>
                                <div class="card_content">
                                    <p>九個步驟快速提昇你的簡報力、溝通力</p>
                                    <div class="card_content_scrb">
                                        <!-- <div class="card_content_join">
                                        <i class="fas fa-user-friends"></i><span>6124人已參與此課程</span>
                                    </div> -->
                                        <div class="card_content_msg">
                                            <span class="card_type">企業型</span>
                                            <!-- <span class="card_time">總計3小時</span> -->
                                            <span class="card_price">NT$660</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="remove">
                                <button>
                                    <p>刪</p>
                                    <p>除</p>
                                </button>
                            </div>

                        </div>

                    </li>
                    <li class="cart_item">
                        <div class="cus_card">
                            <a href="#">
                                <div class="card_img">
                                    <img src="img/course/課程圖片.jpg" alt="">
                                </div>
                                <div class="card_content">
                                    <p>九個步驟快速提昇你的簡報力、溝通力</p>
                                    <div class="card_content_scrb">
                                        <!-- <div class="card_content_join">
                                        <i class="fas fa-user-friends"></i><span>6124人已參與此課程</span>
                                    </div> -->
                                        <div class="card_content_msg">
                                            <span class="card_type">企業型</span>
                                            <!-- <span class="card_time">總計3小時</span> -->
                                            <span class="card_price">NT$660</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="remove">
                                <button>
                                    <p>刪</p>
                                    <p>除</p>
                                </button>
                            </div>

                        </div>

                    </li>
                    <li class="cart_item">
                        <div class="cus_card">
                            <a href="#">
                                <div class="card_img">
                                    <img src="img/course/課程圖片.jpg" alt="">
                                </div>
                                <div class="card_content">
                                    <p>九個步驟快速提昇你的簡報力、溝通力</p>
                                    <div class="card_content_scrb">
                                        <!-- <div class="card_content_join">
                                        <i class="fas fa-user-friends"></i><span>6124人已參與此課程</span>
                                    </div> -->
                                        <div class="card_content_msg">
                                            <span class="card_type">企業型</span>
                                            <!-- <span class="card_time">總計3小時</span> -->
                                            <span class="card_price">NT$660</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="remove">
                                <button>
                                    <p>刪</p>
                                    <p>除</p>
                                </button>
                            </div>

                        </div>

                    </li>
                </ul>
            </div>

            <div class="check_out_contain">
                <div class="discount_title">
                    <p>購買兩堂課程，即享有8折優惠!</p>
                </div>
                <div class="price_check">
                    <ul>
                        <li>
                            <span>課程總金額:</span><span>$660</span>
                        </li>
                        <li>
                            <span>折扣金額:</span><span>$60</span>
                        </li>
                    </ul>
                </div>
                <div class="price_total_btn">
                    <div class="price_total">
                        <span>總計:$600</span>
                    </div>
                    <a href="course_orderlist.html" class="check_out">結帳</a>
                </div>
            </div>
        </div>
        <div class="row">

            <!-- side_bar -->
            <div class="side_bar_container col-xl-3">
                <div class="main_side_bar">
                    <ul>
                        <li>
                            <a href="#"><span></span>實作型</a>
                        </li>
                        <li>
                            <a href="#"><span></span>研究型</a>
                        </li>
                        <li>
                            <a href="#"><span></span>文藝型</a>
                        </li>
                        <li>
                            <a href="#"><span></span>社會型</a>
                        </li>
                        <li>
                            <a href="#"><span></span>企業型</a>
                        </li>
                        <li>
                            <a href="#"><span></span>事務型</a>
                        </li>
                    </ul>
                    <div class="side_bar_img">
                        <img src="./img/side_bar.svg" alt="">

                    </div>

                </div>
            </div>

            <!-- container -->
            <div class="course_main_conainer col-xl-9">
                <div class="course_main_second container">

                    <!-- parallax -->
                    <!-- <div class="parallax row"> -->
                    <div class="background col-xl-12">
                        <ul id="scene">
                            <!-- <li class="layer" data-depth=".1"><img src="./img/course/parallax_img/man.png"></li>
                                <li class="layer" data-depth=".2"><img src="./img/course/parallax_img/girl.png"></li>
                                <li class="layer" data-depth=".3"><img src="./img/course/parallax_img/tree.png"></li> -->
                            <li class="layer" style="z-index:1 ;"><img src="./img/course/parallax_img/man.png"></li>
                            <li class="layer" style="z-index:2 ;"><img src="./img/course/parallax_img/girl.png"></li>
                            <li class="layer" style="z-index:3 ;"><img src="./img/course/parallax_img/tree.png"></li>
                        </ul>
                    </div>
                    <!-- </div> -->



                    <!-- course_nav -->
                    <div class="course_nav row">
                        <div class="course_nav_container col-xl-12">
                            <ul class="container">
                                <div class="row">
                                    <li v-for="type in category" :id="type.link_from"
                                        class="col-xl-2 col-lg-4 col-md-6 col-sm-6">
                                        <h3>
                                            <span class="type_dot" :style="type.color"></span>
                                            <a href="#">
                                                {{type.link_title}}
                                            </a>
                                        </h3>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <!-- main_course -->
                    <!-- <div class="main_course row">
                            <div class="course_session_title col-xl-12">
                                <h2>本周主打</h2>
                            </div>
            
                            <div class="main_course_pic col-xl-6">
                                <img :src="main_course.img" alt="">
                            </div>
                            <div class="main_course_content col-xl-6">
                                <h3>{{main_course.course_title}}</h3>
                            </div>
            
                        </div> -->
                    <!-- hot_course -->
                    <div class="hot_course row">
                        <div class="course_session_title col-xl-12">
                            <h2>熱門課程</h2>
                        </div>
                        <ul class="auto_slider owl-carousel">
                            <li class="auto_slider_card " v-for="card in hot_course">
                                <a href="course_introduce.html">
                                    <div class="auto_slider_card_pic">
                                        <img :src="card.img" alt="">
                                        <span class="course_type" :style="card.color">{{card.type}}</span>
                                    </div>
                                </a>
                                <div class="auto_slider_card_content">
                                    <p>{{card.course_title}}</p>
                                    <div class="card_content_scrb">
                                        <div class="card_content_join">
                                            <i class="fas fa-user-friends"></i><span>{{card.join}}人已參與此課程</span>
                                        </div>
                                        <div class="card_content_msg">
                                            <span class="card_time">總計{{card.hour}}小時</span>
                                            <span class="card_price">NT${{card.price}}</span>
                                        </div>
                                    </div>
                                    <div class="add_cart_btn">
                                        <button><i class="fas fa-shopping-cart"></i></button>
                                    </div>
                                </div>

                            </li>
                        </ul>
                    </div>
                    <!-- intro_banner-->
                    <!-- <div class="intro_banner row">
                            <div class="intro_banner_container col-xl-12">
                                <div class="intro_banner_title">hello</div>
                            </div>
                        </div> -->
                    <!-- courses-->
                    <div class="practical_session courses_session row" :id="section.link_to"
                        v-for="section in category">
                        <div class="course_session_title col-xl-12">
                            <h2>{{section.link_title}}</h2>
                        </div>
                        <div class="course_session_contain col-xl-12">
                            <ul>
                                <li class="auto_slider_card " v-for="card in section.courses">
                                    <div class="card_pic">
                                        <a href="#">
                                            <img :src="card.img" alt="">
                                        </a>
                                    </div>
                                    <div class="card_content">
                                        <p>{{card.course_title}}</p>
                                        <div class="card_content_scrb">
                                            <div class="card_content_join">
                                                <i class="fas fa-user-friends"></i><span>{{card.join}}人已參與此課程</span>
                                            </div>
                                            <div class="card_content_msg">
                                                <div class="type_time">
                                                    <span class="card_type " style="background:orange;">實作型</span>
                                                    <span class="card_time">總計{{card.hour}}小時</span>
                                                </div>

                                                <div class="price_btn">
                                                    <span class="card_price">NT${{card.price}}</span>
                                                    <button class="btn_primary">加入購物車</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- <div class="add_cart_btn">
                                            <button class="btn_primary">加入購物車</button>
                                        </div> -->
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

        </div>




    </div>




    <script src="https://kit.fontawesome.com/d18b20bddd.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="./js/header.js"></script>
    <script src="./js/course/owl_auto_slide.js"></script>
    <script src="./js/course/parallax_script.js"></script>
    <script src="./js/"></script>

    <!-- <script>
        var scene = document.getElementById('scene');
        var parallax = new Parallax(scene);
    </script> -->

    <script>
        new Vue({
            el: '#course_main',
            data() {
                return {
                    message: 'hello',
                    category: [{
                        link_from: 'practical',
                        link_to: 'practical_session',
                        link_title: '實作型',
                        color: 'background: #79BBB5;',
                        courses: [{
                            img: './img/course/course_img/課程照片-提昇你的簡報力：九個步驟快速提昇你的簡報力、溝通力.jpg',
                            course_title: '九個步驟快速提昇你的簡報力、溝通力',
                            join: 9999,
                            hour: 3,
                            price: 660,
                        }, {
                            img: './img/course/course_img/課程照片-提昇你的簡報力：九個步驟快速提昇你的簡報力、溝通力.jpg',
                            course_title: '九個步驟快速提昇你的簡報力、溝通力',
                            join: 9999,
                            hour: 3,
                            price: 660,
                        }, {
                            img: './img/course/course_img/課程照片-提昇你的簡報力：九個步驟快速提昇你的簡報力、溝通力.jpg',
                            course_title: '九個步驟快速提昇你的簡報力、溝通力',
                            join: 9999,
                            hour: 3,
                            price: 660,
                        }],

                    }, {
                        link_from: 'research',
                        link_to: 'research_session',
                        link_title: '研究型',
                        color: 'background: #A0CADB;',
                        courses: [{
                            img: './img/course/course_img/課程照片-提昇你的簡報力：九個步驟快速提昇你的簡報力、溝通力.jpg',
                            course_title: '九個步驟快速提昇你的簡報力、溝通力',
                            join: 9999,
                            hour: 3,
                            price: 660,
                        }, {
                            img: './img/course/course_img/課程照片-提昇你的簡報力：九個步驟快速提昇你的簡報力、溝通力.jpg',
                            course_title: '九個步驟快速提昇你的簡報力、溝通力',
                            join: 9999,
                            hour: 3,
                            price: 660,
                        }, {
                            img: './img/course/course_img/課程照片-提昇你的簡報力：九個步驟快速提昇你的簡報力、溝通力.jpg',
                            course_title: '九個步驟快速提昇你的簡報力、溝通力',
                            join: 9999,
                            hour: 3,
                            price: 660,
                        }],

                    }, {
                        link_from: 'art',
                        link_to: 'art_session',
                        link_title: '文藝型',
                        color: 'background: #ECECEC;',
                        courses: [{
                            img: './img/course/course_img/課程照片-提昇你的簡報力：九個步驟快速提昇你的簡報力、溝通力.jpg',
                            course_title: '九個步驟快速提昇你的簡報力、溝通力',
                            join: 9999,
                            hour: 3,
                            price: 660,
                        }, {
                            img: './img/course/course_img/課程照片-提昇你的簡報力：九個步驟快速提昇你的簡報力、溝通力.jpg',
                            course_title: '九個步驟快速提昇你的簡報力、溝通力',
                            join: 9999,
                            hour: 3,
                            price: 660,
                        }, {
                            img: './img/course/course_img/課程照片-提昇你的簡報力：九個步驟快速提昇你的簡報力、溝通力.jpg',
                            course_title: '九個步驟快速提昇你的簡報力、溝通力',
                            join: 9999,
                            hour: 3,
                            price: 660,
                        }],


                    }, {
                        link_from: 'social',
                        link_to: 'social_session',
                        link_title: '社會型',
                        color: 'background: #F7EA92;',
                        courses: [{
                            img: './img/course/course_img/課程照片-提昇你的簡報力：九個步驟快速提昇你的簡報力、溝通力.jpg',
                            course_title: '九個步驟快速提昇你的簡報力、溝通力',
                            join: 9999,
                            hour: 3,
                            price: 660,
                        }, {
                            img: './img/course/course_img/課程照片-提昇你的簡報力：九個步驟快速提昇你的簡報力、溝通力.jpg',
                            course_title: '九個步驟快速提昇你的簡報力、溝通力',
                            join: 9999,
                            hour: 3,
                            price: 660,
                        }, {
                            img: './img/course/course_img/課程照片-提昇你的簡報力：九個步驟快速提昇你的簡報力、溝通力.jpg',
                            course_title: '九個步驟快速提昇你的簡報力、溝通力',
                            join: 9999,
                            hour: 3,
                            price: 660,
                        }],


                    }, {
                        link_from: 'enterprise',
                        link_to: 'enterprise_session',
                        link_title: '企業型',
                        color: 'background: #F4C3C5;',
                        courses: [{
                            img: './img/course/course_img/課程照片-提昇你的簡報力：九個步驟快速提昇你的簡報力、溝通力.jpg',
                            course_title: '九個步驟快速提昇你的簡報力、溝通力',
                            join: 9999,
                            hour: 3,
                            price: 660,
                        }, {
                            img: './img/course/course_img/課程照片-提昇你的簡報力：九個步驟快速提昇你的簡報力、溝通力.jpg',
                            course_title: '九個步驟快速提昇你的簡報力、溝通力',
                            join: 9999,
                            hour: 3,
                            price: 660,
                        }, {
                            img: './img/course/course_img/課程照片-提昇你的簡報力：九個步驟快速提昇你的簡報力、溝通力.jpg',
                            course_title: '九個步驟快速提昇你的簡報力、溝通力',
                            join: 9999,
                            hour: 3,
                            price: 660,
                        }],


                    }, {
                        link_from: 'thing',
                        link_to: 'thing_session',
                        link_title: '事務型',
                        color: 'background: #CCC5E3;',
                        courses: [{
                            img: './img/course/course_img/課程照片-提昇你的簡報力：九個步驟快速提昇你的簡報力、溝通力.jpg',
                            course_title: '九個步驟快速提昇你的簡報力、溝通力',
                            join: 9999,
                            hour: 3,
                            price: 660,
                        }, {
                            img: './img/course/course_img/課程照片-提昇你的簡報力：九個步驟快速提昇你的簡報力、溝通力.jpg',
                            course_title: '九個步驟快速提昇你的簡報力、溝通力',
                            join: 9999,
                            hour: 3,
                            price: 660,
                        }, {
                            img: './img/course/course_img/課程照片-提昇你的簡報力：九個步驟快速提昇你的簡報力、溝通力.jpg',
                            course_title: '九個步驟快速提昇你的簡報力、溝通力',
                            join: 9999,
                            hour: 3,
                            price: 660,
                        }],

                    }],

                    main_course: {
                        img: './img/course/course_img/課程照片-提昇你的簡報力：九個步驟快速提昇你的簡報力、溝通力.jpg',
                        course_title: '九個步驟快速提昇你的簡報力、溝通力',
                        join: 9999,
                        hour: 3,
                        price: 660,
                    },
                    hot_course: [{
                        img: './img/course/course_img/課程照片-提昇你的簡報力：九個步驟快速提昇你的簡報力、溝通力.jpg',
                        course_title: '九個步驟快速提昇簡報力',
                        type: '企業型',
                        color: 'background: #CCC5E3;',
                        join: 9999,
                        hour: 3,
                        price: 660,

                    }, {
                        img: './img/course/course_img/課程照片-新世代行銷法則：行銷 = 內容 X 社群 X 商務.jpg',
                        course_title: '行銷 = 內容 X 社群 X 商務',
                        type: '藝術型',
                        color: 'background:#F4C3C5;',
                        join: 5555,
                        hour: 5,
                        price: 550,

                    }, {
                        img: './img/course/course_img/課程照片-職場溝通管理學：打造團隊好關係與高績效.jpg',
                        course_title: '打造團隊好關係與高績效',
                        type: '實作型',
                        color: 'background:#F7EA92;',
                        join: 7777,
                        hour: 7,
                        price: 770,

                    }, {
                        img: './img/course/course_img/課程照片-職場溝通管理學：打造團隊好關係與高績效.jpg',
                        course_title: '打造團隊好關係與高績效',
                        type: '研究型',
                        color: 'background:#ECECEC;',
                        join: 7777,
                        hour: 7,
                        price: 770,

                    }, ],


                }


            },
            methods: {

            },
        })
    </script>

</body>

</html>