* {
  box-sizing: border-box;
}


div.postcard_main {
  border: 1px solid red;
  max-width: 900px !important;
  margin-top: 50px;

  .view,
  .row {
    justify-content: space-between;




    // 上傳區
    .photo_upload {
      // border: 1px solid blue;
      background-color: lightgray;

      .title {
        border: 1px solid red;

        h3 {
          display: inline-block;
          border: 1px solid rgb(2, 2, 253);
        }

        p.note {
          display: inline-block;
          border: 1px solid rgb(2, 2, 253);

        }
      }

      .img_upload {
        border: 1px solid rgb(2, 2, 253);



        .img_show {
          border: 1px solid red;
          height: 150px;
          text-align: center;
          margin: 20px 0;

          p {
            border: 1px solid black;
            margin-top: 50px;
            color: gray;
          }

          label {
            border: 1px solid black;
            text-align: center;
            display: inline-block;
            border-radius: 15px;
            background-color: #E8C300;
            color: #1B4D9F;
            overflow: hidden;
            padding: 0 5px;
            margin-top: 45px;


            i {
              border: 1px solid blue;
              font-size: 18px;
              display: inline-block;

            }

            .p_small_2 {
              display: inline-block;
              font-size: 14px;
              margin: 0;
              color: #1B4D9F;
            }

            input {
              display: none;
            }
          }
        }
      }
    }



    // 明信片區
    .postcardZone {
      background-color: lightblue;
      padding-left: -15px;
      padding-bottom: 20px;

      // 正面明信片
      .postcard_front {
        // background-color: lightblue;
        // padding-left: -15px;
        // padding-bottom: 20px;
        border: 1px solid black;

        .front_post {
          // border: 1px solid blue;
          margin-top: 20px;
          background-color: white;
          width: 100%;


          .mainStyle {
            border: 1px solid black;
            position: relative;
            // height: 553px;
            height: 0;
            padding-bottom: 63.5%;


            .style2 {
              border: 1px solid red;
              // height: 0;
              // padding-bottom: 63.5%;

              .top_2 {
                // height: 20%;
                height: 0;
                padding-bottom: 20%;
                background-color: rgb(255, 254, 235);

              }

              .bottom_2 {

                display: flex;

                .left_2 {
                  background-color: rgb(219, 253, 204);
                  height: 0;
                  padding-bottom: 43.5%;
                  background-position: center;
                  flex-grow: 1;
                }

                .right_2 {
                  background-color: rgb(255, 228, 253);
                  flex-grow: 1;
                  height: 0;
                  padding-bottom: 43.5%;

                }
              }

            }

            .main_outline_style {
              position: absolute;
              // position: relative;
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              pointer-events: none;


              img {
                height: 100%;
                width: 100%;
                z-index: -2;

              }
            }


          }
        }

        button {
          float: right;
          margin: 20px 0;
          // border: 2px solid #1b4d9f;

          i {
            // border: 1px solid blue;
            display: inline-block;
            font-size: 17px;
            padding-left: 10px;
          }
        }

        .change_style {
          border: 1px solid rgb(255, 0, 200);
          margin-top: 80px;

          .front_all_style {
            border: 1px solid rgb(23, 29, 23);

            .style_list {
              border: 1px solid blue;
              justify-content: space-around;
              // display: inline-block;
              margin: 20px 0;

              .style {
                border: 1px solid rgb(17, 17, 17);
                padding: 0;
                // margin-top: 20px;
                // width: 150px;
                cursor: pointer;

                img {
                  width: 100%;
                }
              }
            }
          }

          .style_all_outline {
            border: 1px solid rgb(23, 29, 23);

            .style_list {
              // border: 1px solid blue;
              justify-content: space-around;
              // display: inline-block;
              margin: 20px 0;

              .style {
                border: 1px solid rgb(17, 17, 17);
                padding: 0;
                background-color: rgba(88, 88, 88, 0.253);
                height: 100%;
                text-align: center;
                position: relative;
                cursor: pointer;

                img {
                  width: 100%;
                }

                p {
                  position: absolute;
                  border: 1px solid blue;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                }
              }

            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .photo_upload {
    display: none;
  }
}