div.before_test_wrap{
    border: 1px solid red;
    width: 1200px;
    margin: auto;
        section.origin_of_types_before_test{
            border: 1px solid cadetblue;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2%;
            h3{
                font-weight: 600;
                padding-bottom: 2%;
            }
            p{
                line-height: 25px;
                letter-spacing: 1px;
                // width: 100%;
            }
        }
        .wrap_of_btn_before_test{
            border: 1px solid fuchsia;
            display: flex;
            justify-content: center;
            padding: 2%;
        }
}

main.main_before_test{
    // width: 1200px;
    margin: auto;
        .all_type_card_before_test{
           border: 1px solid navy;
           width: 100%;
           display: flex;
           justify-content: space-evenly;
           padding: 5% 0px;
                }
        
        .type_card_before_test{
            border: 2px solid #AAA;
            // width: 150px;
            height: 500px;
            border-radius: 10px;
            background-color: #ffffff;
            box-shadow: #E0E0E0 3px 3px 5px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
                .title_type{
                    display: flex;
                    flex-direction: column;
                    // justify-content: center;
                    align-items: center;
                    // border: 1px solid brown;
                    // background: rgba(0, 0, 0, 0.4);
                    height: 40px;
                    
            }
            .img_bx_type_card{
                overflow: hidden;
                width: 110px;
                height: 400px;
                // border: 1px solid red;
            }
        }

}

.type_card_before_test.expanding{
    width: 500px;
    transition: ease-in-out 2s;
}
   