// outline
$outline1: 1px solid gray;
$outline2: 1px solid pink;
$outline3: 1px solid green;
$outline4: 1px solid blue;
$outline5: 1px solid red;


// shadow
$card_shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
$card_radius: 5px;

//text color
// $main-text-color: #303133;
// $regular-text-color: #606266;

// $primary-text-color:#409eff;
// $primary-dark-text-color: #277ee2;
// $success-text-color: #67c23a;
// $warning-text-color: #e6a23c;

//transition
$quick-transition: all .3s ease;
$slow-transition: all .8s ease;