.Travel-sal{
    max-width:170px;
    width:100%;
    height:2.3em;
    position:absolute;right:5px;top:122px;
    border: 1px solid 	#97CBFF;
    padding: 2px;
    font-size:18px;
    // text-align:left;
    text-align: center;
}
@keyframes bar{
    from{
      width: 0
    }
    to{
      width: 90%
    }
}
.bar{
  animation: bar 5s forwards;
}