.Travel-p2{
    // letter-spacing:3px;
    word-spacing:8px;
    font-size:18px;
    text-align:left;
    margin-top:30px;
    margin-left:5px;
    background-color:#ACD6FF;
    font-weight:bold;
    font-family: Microsoft JhengHei;
}