.Travel-list{
     max-width:150px;
     width:100%;
     margin-top:10px;
     margin-left:20px;
     text-align:left;
     word-spacing:20px;
     line-height:3.3;
     font-size:18px;
     font-weight:bold;
     font-family: Microsoft JhengHei;
     color:#1B4D9F;
}