@import "../../_public_dontTouch/utils/variables";
$content_max_width: 900px;
$teacher_profile_width: 150px;
$section_gap: 70px;
$title_gap: 20px;
@mixin intro_h2 {
    width: 300px;
    border-bottom: 2px solid #e8c300;
    padding-bottom: 10px;
    margin: 50px 0 20px;
}

body#course_intro_bg {
    background-image: url(../../../img/course/bg/intro.png);
    background-size: 100%;
}

div.course_introduce {
    max-width: $content_max_width;
    margin-bottom: $section_gap;
    margin-top: 80px;
    // banner
    div.course_intro_banner {
        margin-bottom: 50px;
        div.intro_banner {
            box-shadow: $card_shadow;
            padding: 20px;
            display: flex;
            border-radius: 5px;
            div.intro_banner_pic {
                flex: 2;
                margin-right: 20px;
                div.banner_img {
                    margin-top: -50px;
                    margin-bottom: 30px;
                    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
                    transition: .6s ease-in-out;
                    border-radius: 5px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        vertical-align: middle;
                    }
                    &:hover {
                        margin-top: -60px;
                        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
                    }
                }
                div.banner_type_btn {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    div.banner_type {
                        span {
                            font-size: 50px;
                            // color: rgb(196, 195, 195);
                            color: $enterprise_color;
                            font-weight: bolder;
                            text-shadow: $card_shadow;
                        }
                    }
                    div.banner_btn {
                        button {
                            background: $second_color2;
                            border-radius: 50px;
                            padding: 5px 10px;
                            i {
                                font-size: 20px;
                                margin-right: 5px;
                                color: rgb(187, 187, 187);
                            }
                        }
                        button.favorite {}
                        button.add_cart {}
                    }
                }
            }
            div.intro_banner_content {
                flex: 1;
                div.banner_title {
                    border-bottom: 2px solid gray;
                    margin-bottom: 30px;
                    h1 {
                        // font-size: 20px;
                        line-height: 1.5;
                        margin-bottom: 20px;
                    }
                    div.banner_teacher_price {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        div.banner_teacher_container {
                            a {
                                display: flex;
                                background: $enterprise_color;
                                align-items: center;
                                margin-bottom: 10px;
                                padding: 5px 10px;
                                border-radius: 50px;
                                width: fit-content;
                                div.banner_teacher_img {
                                    width: 30px;
                                    height: 30px;
                                    border-radius: 50px;
                                    overflow: hidden;
                                    margin-right: 10px;
                                    img {
                                        width: 100%;
                                    }
                                }
                                span {
                                    font-weight: bold;
                                }
                            }
                        }
                        div.banner_price {
                            p {
                                font-size: 30px;
                                span {
                                    font-size: 18px
                                }
                            }
                        }
                    }
                }
                div.banner_describe {
                    p {
                        line-height: 1.5;
                    }
                }
            }
        }
    }
    // 講師介紹
    div.cus_teacher {
        max-width: $content_max_width;
        // border: $outline1;
        margin-bottom: $section_gap;
        div.teacher_img {
            div.teacher_profile {
                // border: $outline5;
                width: $teacher_profile_width;
                height: $teacher_profile_width;
                border-radius: 100%;
                overflow: hidden;
                margin: 0 auto;
                img {
                    width: 100%;
                    vertical-align: middle;
                }
            }
        }
        div.teacher_intro {
            display: flex;
            flex-direction: column;
            justify-content: center;
            h2 {
                @include intro_h2;
            }
            p {
                line-height: 1.5;
            }
        }
    }
    // 學習到
    div.cus_learn {
        margin-bottom: $section_gap;
        div.learn_list {
            h2 {
                @include intro_h2;
            }
            ul {
                li {
                    padding: 5px;
                }
            }
        }
        div.suitable_list {
            h2 {
                @include intro_h2;
            }
            ul {
                li {
                    padding: 5px;
                    line-height: 1.5;
                }
            }
        }
    }
    // 課程大綱
    div.cus_outline {
        margin-bottom: $section_gap;
        div.cus_outline_contain {
            width: 100%;
            h2 {
                @include intro_h2;
            }
            ol {
                background: $second_color2;
                border-radius: 10px; // border: 1px solid #665f5f;
                li {
                    border-bottom: 1px solid #665f5f;
                    font-size: 18px;
                    padding: 20px;
                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
        }
    }
    // feedback
    div.feedback {
        // background: #fff;
        div.pro_feedback {
            // border: $outline1;
            h2 {
                width: 300px;
                border-bottom: 2px solid #e8c300;
                padding-bottom: 10px;
                margin: 50px 0 20px;
            }
            ul {
                display: flex;
                margin-top: 60px; // width: 500px;
                li {
                    // border: $outline2;
                    background: $second_color2;
                    border-radius: 10px;
                    div.pro_contain {
                        padding: 10px;
                        p {
                            line-height: 1.5;
                            border-bottom: 2px solid #ededed;
                            padding-bottom: 10px;
                            margin-bottom: 20px;
                        }
                        div.pro_person {
                            display: flex;
                            align-items: center;
                            div.pro_profile {
                                width: 30px;
                                height: 30px;
                                border-radius: 50px;
                                overflow: hidden;
                                margin-right: 5px;
                                img {
                                    width: 100%;
                                    vertical-align: middle;
                                }
                            }
                            div.pro_introduce {
                                span {}
                            }
                        }
                    }
                }
            }
        }
        div.stu_feedback {
            h2 {
                width: 300px;
                border-bottom: 2px solid #e8c300;
                padding-bottom: 10px;
                margin: 50px 0 20px;
            }
            div.stu_contain {
                padding: 10px;
                ul {
                    li {
                        margin: 10px 0;
                        span {
                            display: inline-block;
                            margin-bottom: 20px;
                        }
                        p {
                            background: $second_color2;
                            border-radius: 10px;
                            padding: 10px;
                            position: relative;
                            width: fit-content;
                            ;
                            &::before {
                                content: '';
                                display: inline-block;
                                // border-top: 100px solid red;
                                border-left: 10px solid transparent;
                                border-right: 10px solid transparent;
                                border-bottom: 10px solid $second_color2;
                                position: absolute;
                                left: 10px;
                                top: 0;
                                transform: translateY(-100%);
                            }
                        }
                    }
                }
            }
        }
    }
    // 推薦課程
    div.hot_course {
        margin-bottom: $course_sort_margin_bottom;
        ul.auto_slider {
            max-width: 1200px;
            display: flex;
            li.auto_slider_card {
                background: #fff;
                flex: 1;
                margin: 0 15px;
                box-shadow: $card_shadow;
                border-radius: $card_radius;
                overflow: hidden;
                div.auto_slider_card_pic {
                    img {
                        width: 100%;
                    }
                }
                div.auto_slider_card_content {
                    padding: 10px;
                    p {
                        font-size: 20px;
                        font-weight: bold;
                        margin-bottom: $title_gap;
                    }
                    div.card_content_scrb {
                        div.card_content_join {
                            margin-bottom: 20px;
                            i {
                                margin-right: 5px;
                            }
                            span {
                                font-size: 13px;
                            }
                        }
                        div.card_content_msg {
                            display: flex;
                            justify-content: space-between;
                            span.card_time {}
                            span.card_price {
                                font-size: 20px;
                                font-weight: bold;
                            }
                        }
                    }
                }
                div.add_cart_btn {
                    // width: 100%;
                    button {
                        width: 100%;
                        border-radius: 0;
                    }
                }
            }
        }
    }
}

// rwd
@media(max-width:992px) {
    // 學習到
    div.suitable_list {
        margin-bottom: 30px;
    }
    // feedback
    div.course_introduce div.feedback div.pro_feedback ul {
        margin-top: 0px;
    }
}

@media(max-width:920px) {
    // banner
    div.course_intro_banner {
        div.intro_banner {
            flex-direction: column;
        }
    }
}

@media(max-width:376px) {
    // banner
    div.course_introduce div.course_intro_banner div.intro_banner div.intro_banner_pic div.banner_type_btn {
        align-items: center;
        margin-bottom: 10px;
    }
    div.course_introduce div.course_intro_banner div.intro_banner div.intro_banner_pic div.banner_type_btn div.banner_type span {
        font-size: 20px;
    }
}