@import "../../_public_dontTouch/utils/variables";

$course_title_margin_bottom: 20px;
$session_margin_bottom: 50px;
$title_gap: 20px;
$course-sort-margin-bottom: 20px;


div.course_main_banner {
    div.banner {
        height: 200px;
        background: blue;
    }
}


div.course_session_title {
    h2 {
        width: 300px;
        border-bottom: 2px solid #e8c300;
        padding-bottom: 10px;
        margin: 50px 0 20px;
    }
}




div.course_main_second {

    // course_nav
    div.course_nav {
        margin-bottom: 50px;

        div.course_nav_container {
            // border: $outline1;
            width: 100%;

            ul {
                // border: $outline2;
                display: flex;
                // flex-wrap: wrap;
                justify-content: center;
                background: #ededed;


                li {
                    // border: $outline3;
                    display: flex;
                    justify-content: center;

                    a {
                        padding: 10px 15px;
                        // border: 2px solid #1b4d9f;
                        // line-height: 1;
                    }

                }
            }
        }
    }

    // main_course
    div.main_course {
        border: $outline3;
        margin-bottom: $course_sort_margin_bottom;
        // div.course_session_title { h2 {
        //             width: 300px;
        //             border-bottom: 2px solid #e8c300;
        //             padding-bottom: $course_sort_padding_bottom;
        //             margin-bottom: $course_sort_margin_bottom;
        //         }}


        div.main_course_pic {
            border: $outline4;

            img {
                width: 100%;
            }
        }

        div.main_course_content {
            border: $outline5;
            display: flex;
            flex-direction: column;
            justify-content: space-between
        }


    }

    //hot_course
    div.hot_course {
        margin-bottom: $course_sort_margin_bottom;

        ul.auto_slider {
            max-width: 1200px;
            display: flex;

            li.auto_slider_card {
                background: #fff;
                flex: 1;
                margin: 0 15px;
                box-shadow: $card_shadow;
                border-radius: $card_radius;
                overflow: hidden;



                div.auto_slider_card_pic {
                    img {
                        width: 100%;
                    }
                }

                div.auto_slider_card_content {
                    padding: 10px;

                    p {
                        font-size: 20px;
                        font-weight: bold;
                        margin-bottom: $title_gap;

                    }

                    div.card_content_scrb {
                        div.card_content_join {
                            margin-bottom: 20px;

                            i {
                                margin-right: 5px;
                            }

                            span {
                                font-size: 13px;
                            }
                        }

                        div.card_content_msg {
                            display: flex;
                            justify-content: space-between;

                            span.card_time {}

                            span.card_price {
                                font-size: 20px;
                                font-weight: bold;
                            }
                        }
                    }
                }

                div.add_cart_btn {
                    // width: 100%;

                    button {
                        width: 100%;
                        border-radius: 0;
                    }
                }
            }
        }
    }


    //intro_banner
    div.intro_banner {
        margin-bottom: $course_sort_margin_bottom;

        div.intro_banner_container {
            div.intro_banner_title {
                height: 200px;
                background: pink;
            }
        }
    }

    //courses
    div.courses_session {
        div.course_session_title {
            h2 {}
        }

        div.course_session_contain {
            ul {

                li {
                    display: flex;
                    box-shadow: $card_shadow;
                    margin: 20px 0;

                    div.card_pic {
                        width: 30%;

                        img {
                            width: 100%;
                            align-items: middle;
                        }
                    }

                    div.card_content {
                        padding: 20px;
                        flex-grow: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        p {
                            font-weight: bold;
                            font-size: 20px;
                            margin-bottom: $course_title_margin_bottom;
                        }

                        div.card_content_scrb {
                            div.card_content_join {

                                i {
                                    margin-right: 5px;
                                }

                                span {
                                    font-size: 13px;
                                }
                            }

                            div.card_content_msg {
                                display: flex;
                                justify-content: space-between;
                                align-items: flex-end;

                                div.type_time {
                                    span.card_type {
                                        padding: 0 5px;
                                        border-radius: 5px;
                                    }

                                    span.card_time {}
                                }



                                div.price_btn {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;

                                    span.card_price {
                                        font-size: 30px;
                                        margin-bottom: 10px;
                                    }

                                    btn {}
                                }


                            }
                        }
                    }


                    // div.add_cart_btn {
                    //     btn {}
                    // }
                }
            }
        }
    }





}