div.course_slide {

    ul.slide_contain {
        // background: palevioletred;
        max-width: 900px;
        // display: flex;
        margin: 0 auto;

        .slick-prev:before,
        .slick-next::before {
            color: rgb(136, 173, 214);
            font-size: 30px;
        }

        .slick-prev {
            left: -50px;
        }

        .slick-next {
            right: -40px;
        }

        .slick-center .cus_card {
            transition: .6s ease-in-out;
            transform: scale(1.1);
        }

        li.slide_item {
            height: fit-content;
            margin: 20px;

            &:focus {
                outline: none;
                border: none;
            }




            div.cus_card {
                // border: $outline5;
                background: #fff;
                box-shadow: $card_shadow;
                border-radius: 5px;
                overflow: hidden;

                a {
                    div.card_img {
                        img {
                            width: 100%;
                        }
                    }

                    div.card_content {
                        padding: 15px;

                        p {
                            font-weight: bold;
                            line-height: 1.5;
                            padding-bottom: $course_title_margin_bottom;
                        }

                        div.card_content_scrb {
                            div.card_content_join {
                                span {
                                    font-size: 13px;
                                    // padding: 0 5px;
                                }
                            }

                            div.card_content_msg {
                                margin-top: 10px;
                                display: flex;

                                span.card_type {
                                    background: orange;
                                    border-radius: 5px;
                                    padding: 0 5px;
                                    line-height: 20px;
                                }

                                span.card_time {
                                    // padding: 0 5px;
                                    line-height: 20px;
                                }

                                span.card_price {
                                    margin-left: auto;
                                    font-size: 20px;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }

                div.add_cart {
                    // border: $outline5;

                    button {
                        width: 100%;
                        // background: blue;
                        padding: 10px 0;
                        border-radius: 0;
                        line-height: inherit;
                    }
                }
            }
        }
    }


}