@import "../../_public_dontTouch/utils/variables";
$course_title_margin_bottom: 20px;
$session_margin_bottom: 50px;
$title_gap: 20px;
$course-sort-margin-bottom: 20px;
body#course_main_bg {
    background-image: url(../../../img/course/bg/main.png);
    background-size: 100%;
}

div.course_main_banner {
    div.banner {
        height: 200px;
        background: blue;
    }
}

div.course_session_title {
    h2 {
        width: 300px;
        border-bottom: 2px solid #e8c300;
        padding-bottom: 10px;
        margin: 50px 0 20px;
    }
}

div.course_main_second {
    // parallax
    div.background {
        width: 100%;
        // height: 100vh;
        // background: url("../../../img/course/parallax_img/background.png");
        overflow: hidden;
        // background-attachment: fixed;
        ul {
            display: flex;
            position: relative;
            width: 100%;
            li {
                position: absolute;
                left: 0;
                top: 0;
                img {
                    width: 100%;
                }
                &:first-child {
                    position: inherit;
                }
            }
        }
    }
    // course_nav
    div.course_nav {
        margin-bottom: 50px;
        div.course_nav_container {
            // border: $outline1;
            width: 100%;
            ul {
                display: flex;
                justify-content: center;
                box-shadow: $card_shadow;
                border-radius: 5px;
                li {
                    // border: $outline3;
                    display: flex;
                    justify-content: center;
                    &:hover span.type_dot {
                        transform: scale(1.3);
                        border-radius: 50px;
                    }
                    span.type_dot {
                        display: inline-block;
                        width: 15px;
                        height: 15px;
                        transition: .6s ease-in-out;
                        // &:hover {
                        //     transform: scale(1.3);
                        //     border-radius: 50px;
                        // }
                    }
                    a {
                        padding: 15px 20px;
                    }
                }
            }
        }
    }
    // main_course
    div.main_course {
        border: $outline3;
        margin-bottom: $course_sort_margin_bottom;
        // div.course_session_title { h2 {
        //             width: 300px;
        //             border-bottom: 2px solid #e8c300;
        //             padding-bottom: $course_sort_padding_bottom;
        //             margin-bottom: $course_sort_margin_bottom;
        //         }}
        div.main_course_pic {
            border: $outline4;
            img {
                width: 100%;
            }
        }
        div.main_course_content {
            border: $outline5;
            display: flex;
            flex-direction: column;
            justify-content: space-between
        }
    }
    //intro_banner
    div.intro_banner {
        margin-bottom: $course_sort_margin_bottom;
        div.intro_banner_container {
            div.intro_banner_title {
                height: 200px;
                background: pink;
            }
        }
    }
    //courses
    div.courses_session {
        div.course_session_title {
            h2 {}
        }
        div.course_session_contain {
            ul {
                li {
                    background: #fff;
                    display: flex;
                    box-shadow: $card_shadow;
                    margin: 20px 0;
                    div.card_pic {
                        width: 30%;
                        img {
                            width: 100%;
                            vertical-align: middle;
                        }
                    }
                    div.card_content {
                        padding: 20px;
                        flex-grow: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        p {
                            font-weight: bold;
                            font-size: 20px;
                            margin-bottom: $course_title_margin_bottom;
                        }
                        div.card_content_scrb {
                            div.card_content_join {
                                i {
                                    margin-right: 5px;
                                }
                                span {
                                    font-size: 13px;
                                }
                            }
                            div.card_content_msg {
                                display: flex;
                                justify-content: space-between;
                                align-items: flex-end;
                                div.type_time {
                                    span.card_type {
                                        padding: 0 5px;
                                        border-radius: 5px;
                                    }
                                    span.card_time {}
                                }
                                div.price_btn {
                                    display: flex;
                                    // flex-direction: column;
                                    align-items: center;
                                    span.card_price {
                                        font-size: 30px;
                                        margin-bottom: 10px;
                                    }
                                    btn {}
                                }
                            }
                        }
                    }
                    // div.add_cart_btn {
                    //     btn {}
                    // }
                }
            }
        }
    }
}

;
// rwd 
@media(max-width:1199px) {
    // side_bar
    div.side_bar_container {
        position: fixed;
        z-index: 200;
        left: 0;
        div.main_side_bar {
            position: inherit;
            width: inherit;
            // position: absolute;
            border-radius: 0;
            height: inherit;
            padding: 0;
            width: 100%;
            ul {
                flex-direction: row;
                margin-bottom: 0px;
                width: max-content;
                justify-content: center;
                li {
                    margin: 10px;
                    a {
                        padding: 10px 30px;
                    }
                }
            }
            div.side_bar_img {
                display: none;
            }
        }
    }
    div.course_main_container {
        margin-top: 50px;
    }
}

@media(max-width:1060px) {
    div.side_bar_container div.main_side_bar {
        overflow-x: scroll;
    }
}